#content {
   /*background-color: #e0e0e0;*/
   background-color: #5277c3;
}

.container {
  margin-bottom: 3em;
}

#content .container {
  background-color: white;
  padding: 20px;
}

h1 {
  font-size: 9rem;
  margin-bottom: 3rem;
  word-wrap: break-word;
}

h1, h2, h3 {
  color: #616161;
}

#nixcon-logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0em;
  width:200px;
}

.nixos-logo:hover {
    cursor: default;
    transform: rotate(120deg);
    transition: all 1s ease-in-out 0s;
}

.icon-block .fa {
  font-size: 4rem;
}

.nixos-dark {
  background-color: #5277c3;
}

.nixos-dark-text {
  color: #5277c3;
}

.nixos-light {
  background-color: #7ebae4;
}

a {
  font-weight: 500;
}

nav a {
    color: #999999;
}

#content a {
    color: #5277c3;
}

footer a {
    color: white;
}

a, nav a, nav ul a {
  color: #5277c3;
  font-weight: 500;
}

.header {
    font-weight: 500;
}

h5.header {
    font-size: 1.5rem;
}

footer.page-footer {
  background-color: #616161;
}

footer .container {
  margin-bottom: 0px;
}

footer .row {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.nixos-sponsor {
    padding: 20px 0px;
}

@media only screen and (min-width: 993px) {
  .nixos-sponsor .card {
    height: 300px;
  }

  .card {
    height: 265px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .nixos-sponsor .card {
    height: 380px;
  }

  .card {
    height: 305px;
  }
}

.card .card-image img {
  width: auto;
  max-height: 100px;
  padding: 24px 24px 0px 24px;
}

.card ul {
  margin-top: 0px;
}

#map {
    width: 100%;
    height: 550px;
}

#map_wrapper {
    position: relative;
}

#map_overlay {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 99;
    background-color: #ffffff;
    padding: 30px 60px 10px 30px;
}
