.nixos-dark {
  background-color: #5277c3 !important;
}

.nixos-dark-text {
  color: #5277c3 !important;
}

.nixos-light {
  background-color: #7ebae4 !important;
}

.nixos-light-text {
  color: #7ebae4 !important;
}
