.nixos-logo:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

#nixcon-logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0em;
  width:300px;
}

.nixos-dark {
  background-color: #5277c3;
}

.nixos-dark-text {
  color: #5277c3;
}

.nixos-light {
  background-color: #7ebae4;
}

a {
  color: #999999;
  font-weight: 500;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 700;
}

.header {
    font-weight: 700;
}

footer.page-footer {
  background-color: #757575;
}

footer .container {
  margin-bottom: 0px;
}

footer .row {
  margin-bottom: 0px;
}

.nixos-sponsor {
    padding: 20px 0px;
}

.container {
  margin-bottom: 8em;
}

@media only screen and (min-width: 993px) {
  .nixos-sponsor .card {
    height: 300px;
  }

  .card {
    height: 275px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .nixos-sponsor .card {
    height: 380px;
  }

  .card {
    height: 275px;
  }
}

.card .card-image img {
  width: auto;
  max-height: 100px;
  padding: 24px 24px 0px 24px;
}

#map {
    width: 100%;
    height: 550px;
}

#map_wrapper {
    position: relative;
}

#map_overlay {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 99;
    background-color: #ffffff;
    padding: 30px 60px 10px 30px;
}
